@font-face {
  font-family: "steinbeckregular";
  src: url("steinbeck_demo_regular-webfont.woff2") format("woff2"),
    url("steinbeck_demo_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monument_extendedregular";
  src: url("monumentextended-regular-webfont.woff2") format("woff2"),
    url("monumentextended-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monument_extendedultrabold";
  src: url("monumentextended-ultrabold-webfont.woff2") format("woff2"),
    url("monumentextended-ultrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dx_sitrusexpanded";
  src: url("dxsitrus-expanded-webfont.woff2") format("woff2"),
    url("dxsitrus-expanded-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dx_sitrusexpanded_italic";
  src: url("dxsitrus-expandeditalic-webfont.woff2") format("woff2"),
    url("dxsitrus-expandeditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittbold";
  src: url("cooperhewitt-bold-webfont.woff2") format("woff2"),
    url("cooperhewitt-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittbold_italic";
  src: url("cooperhewitt-bolditalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittbook";
  src: url("cooperhewitt-book-webfont.woff2") format("woff2"),
    url("cooperhewitt-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittbook_italic";
  src: url("cooperhewitt-bookitalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-bookitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittheavy";
  src: url("../fonts/cooperhewitt-heavy-webfont.woff2") format("woff2"),
    url("../fonts/cooperhewitt-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittheavy_italic";
  src: url("cooperhewitt-heavyitalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-heavyitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittlight";
  src: url("cooperhewitt-light-webfont.woff2") format("woff2"),
    url("cooperhewitt-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittlight_italic";
  src: url("cooperhewitt-lightitalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittmedium";
  src: url("cooperhewitt-medium-webfont.woff2") format("woff2"),
    url("cooperhewitt-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittmedium_italic";
  src: url("cooperhewitt-mediumitalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittsemibold";
  src: url("cooperhewitt-semibold-webfont.woff2") format("woff2"),
    url("cooperhewitt-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittsemibold_italic";
  src: url("cooperhewitt-semibolditalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittthin";
  src: url("cooperhewitt-thin-webfont.woff2") format("woff2"),
    url("cooperhewitt-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cooper_hewittthin_italic";
  src: url("cooperhewitt-thinitalic-webfont.woff2") format("woff2"),
    url("cooperhewitt-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
