@import "../fonts/font.scss";

:root {
  --main: #1d1d1b;
  --white: #ffffff;
  --red: #f10505;
  --titles: "cooper_hewittheavy";
  --subtitles: "steinbeckregular";
  --DxSitrus: "dx-sitrusexpanded";
}
