@import "vars";

$customPadding: 0 195px;
$customPaddMobile: 0 58px;

section.bannerAbout{
  background-image:url('../assets/images/bannerAbout.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bannerContainer{
  height: 1121px;
  width: 100%;
  padding: $customPadding;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, black, 30%, rgba(0, 0, 0, 0));
  h1{
    color: white;
    font-family: var(--titles);
    font-size: 144px;
    span{
      color:red
    }
  }
}

.gridProducer{
  width: 100%;
  height: auto;
  padding: $customPadding;
  color: white;
  margin:100px 0;
  margin-bottom: 200px;
  .title{
    font-family: var(--titles);
    font-size: 48px;
    p{
      margin-bottom:30px ;
    }
    p:nth-child(2){
      color: red;
    }
  }
  .grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-family: var( --subtitles);
    font-size: 24px;
    div{
      p{
        margin-bottom: 20px;
      }
    }
    div:nth-child(1){
      padding-right: 100px;
    }
    div:nth-child(2){
      padding-left: 20px;
      font-weight: bolder;
    }
  }
}

.gridSynopsis{
  width: 100%;
  height: auto;
  color: white;
  padding: $customPadding;
  
  background: linear-gradient(to bottom, black, 30%, rgba(0, 0, 0, 0));
  .title{
    font-family: var(--titles);
    font-size: 48px;
    margin-bottom: 68px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    font-family: var( --subtitles);
    font-size: 24px;

    div:nth-child(2){
      margin: 0px 30px;
    }
    div:nth-child(3){
      font-weight: bolder;
      font-size: 30px;
    }
  }
  hr{
    width: 100%;
    color: white;
    margin: 80px 0px;
  }
}

.gridBecome{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  
  padding: $customPadding;

  .textBox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
    margin-right: 50px;
    .title{
      font-family: var(--titles);
      font-size: 48px;
      margin-bottom: 137px;
    }
    p{
      font-family:var( --subtitles);


      &:nth-child(2), &:nth-child(3) {
          font-size: 24px;
          margin-bottom: 30px;
        }
      &:nth-child(4){
        font-size: 30px;
        font-weight: bolder;
      }
    }
    
    
  }
 
}
.bgBricks{
  background-image: url("../assets/images/BRICKS.png");
  padding-bottom: 100px;
}

@media screen and (max-width:768px){

  section.bannerAbout{
    background-position-x: -517px;
  }
  .bannerContainer{
    padding: $customPaddMobile;
    
    h1{
      font-size: 50px;
    }
  }

  .gridProducer{
    padding: $customPaddMobile;
    flex-flow: column nowrap;
    .title{
      font-size: 35px;
    }
    .grid{
      display: flex;
      flex-flow: column nowrap;
      font-size: 18px;
      div:nth-child(1){
        padding-right: 0px;
      }
      div:nth-child(2){
        padding-left: 0px;
      }
    }

  }

  .gridSynopsis{
    padding: 0 0;
    background: linear-gradient(to bottom, black, 5%, rgba(0, 0, 0, 0));
    .title{
      padding: $customPaddMobile;
      font-size: 35px;
     
    }
    .grid{
      display: flex;
      flex-flow: column nowrap;
      div:nth-child(1){
        margin-bottom: 60px;
        img{
          width: 100%;
        }
      }
      div:nth-child(2){
        margin: 0px 0px;
        padding: $customPaddMobile;
        margin-bottom: 60px;
        font-size: 18px;
      }
      div:nth-child(3){
        font-size: 18px;
        font-weight: bolder;
        padding: $customPaddMobile;
      }

    }
  }

  

  .gridBecome{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0;

    .textBox{
      padding: $customPaddMobile;
      margin-right: 0px;
      .title{
        font-size: 30px;
      }
      p{
        font-family:var( --subtitles);
  
  
        &:nth-child(2), &:nth-child(3) {
            font-size: 18px;
          }
        &:nth-child(4){
          font-size: 18px;
          margin-bottom: 60px;
        }
      }
    }
    div:nth-child(2){
      img{
        width: 100%;
      }
    }
  }

  .bgBricks{
    background-size: auto;
    padding-bottom: 100px;
  }

}