@import "vars";

.footerCardsContainer {
  display: flex;
  justify-content: center;
}

.card {
  height: 530px;
  width: 364px;
  border: 1px solid var(--white);
  border-radius: 15px;
  margin-right: 40px;
}

.cardPPTitle {
  display: flex;
}

.cardPP {
  margin-left: 19px;
  margin-top: 26px;
  margin-bottom: 6px;
}

.cardTitleContainer {
  margin-top: 26px;
  margin-left: 17px;
  margin-bottom: 6px;
}

.cardTitle {
  font-size: 16px;
  line-height: 24px;
  font-family: var(--subtitles);
  color: var(--white);
}

.cardMsg {
  margin-left: 19px;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--subtitles);
  color: var(--white);
  margin-bottom: 9px;
}

.cardImg {
  margin-left: 15px;
  width: 324px;
  height: 361px;
}
