@import "vars";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

body {
  background-color: #fefefe;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overscroll-behavior: none; //evita que nuestra app haga rebotes cuando usamos scroll
}

#app {
  overflow-x: hidden;
  //height: 100vh;  // si se le da esta propiedad, no se puede acceder a window ni document
  padding: 0;
}
