@import "vars";

.tfttContainer {
  background-image: url("../assets/images/homeImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1369px;
  width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tfttSubcontainer {
  background-color: transparent;
  height: 1023px;
  width: 1523px;
}

.fade {
  position: absolute;
  bottom: -410px;
  left: -10px;
  width: 100%;
  height: auto;
}

@import "animations";

.tfttContainer h1 {
  font-family: var(--titles);
  font-size: 138px;
  line-height: 162.72px;
  color: var(--white);
  animation: 3s animationFade ease;
  span {
    color: var(--red);
  }
}

.tfttSubcontainer h3 {
  margin-left: 862px;
  margin-top: 55px;
  font-family: var(--titles);
  font-size: 48px;
  text-decoration: underline;
  color: var(--white);
}

.tfttSubcontainer p {
  color: var(--white);
  font-size: 24px;
  line-height: 33.6px;
  font-family: var(--subtitles);
  font-weight: 400;
  margin-left: 862px;
  margin-top: 23px;
}

.paragraph {
  margin-top: 25px;
  margin-bottom: 60px;
}

.terryStoneContainer {
  height: 1350px;
  width: 100%;
  background-color: black;
  color: var(--white);
  display: flex;
  align-items: center;
}

.terryStone {
  width: 710px;
  height: 1117px;
}

.terryStoneTextContainer {
  height: 1117px;
  margin-right: 82px;
  margin-left: 92px;
}

.terryTitle {
  font-family: var(--titles);
  font-size: 48px;
  line-height: 24px;
  margin-bottom: 43px;
}

.terryText {
  font-family: var(--subtitles);
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 50px;
}

.terryText2 {
  font-family: var(--subtitles);
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 50px;
}

.terrySubtitle {
  font-family: var(--titles);
  font-size: 48px;
  line-height: 24px;
  margin-bottom: 84px;
  text-decoration: underline;
}

.imageWrapper {
  width: 238px;
  height: 486px;
  position: relative;
  margin-right: 40px;
  &:hover img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transform: translate(0, 0);
  }
}

.imageWrapper:hover #a1 {
  color: var(--red);
}

.imageWrapper:hover #a2 {
  color: var(--red);
}

.imageWrapper:hover #a3 {
  color: var(--red);
}

.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}

.movieCover {
  width: 238px;
  height: 486px;
  cursor: pointer;
  z-index: 1;
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
}

.movieCover1 {
  width: 238px;
  height: 486px;
  cursor: pointer;
  z-index: 1;
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
}

.movieCover3 {
  width: 238px;
  height: 486px;
  cursor: pointer;
  z-index: 1;
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
}

.movieCover4 {
  width: 238px;
  height: 486px;
  cursor: pointer;
  z-index: 1;
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
}

#a1 {
  position: absolute;
  font-family: var(--titles);
  color: transparent;
  font-size: 140px;
  top: 170px;
  left: 80px;
  z-index: 5;
  text-decoration: none;
}

#a2 {
  position: absolute;
  font-family: var(--titles);
  color: transparent;
  font-size: 140px;
  top: 170px;
  left: 80px;
  z-index: 5;
  text-decoration: none;
}

#a3 {
  position: absolute;
  font-family: var(--titles);
  color: transparent;
  font-size: 140px;
  top: 170px;
  left: 80px;
  z-index: 5;
  text-decoration: none;
}

.moviesContainer {
  display: flex;
}

.discoverContainer {
  background-image: url("../assets/images/discoverourpeople.png");
  width: 100%;
  height: 572px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  @media only screen and (max-width:768px){
    margin-top: 300px;
  }
}

.ijbTitle {
  color: var(--white);
  font-family: var(--titles);
  font-size: 96px;
  line-height: 81.6px;
  margin-bottom: 27px;
}

.ijbSubtitle {
  color: var(--white);
  font-family: var(--subtitles);
  font-size: 24px;
  line-height: 27.96px;
  margin-bottom: 27px;
}

.sliderContainer {
  background-image: url("../assets//images/blockshome.png");
  background-color: var(--main);
  padding-top: 136px;
}

.graffitiContainer {
  height: 872px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/graffiti.png");
  background-color: black;
}

.reel {
  width: 100%;
  height: 460px;
  margin-top: 69px;
  position: absolute;
}

.reel1 {
  position: relative;
  top: 455px;
  right: 718px;
  width: 475px;
  height: 338px;
  cursor: pointer;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel1 img {
  z-index: 2;
  position: absolute;
  &:hover {
    opacity: 0;
  }
}

.reel2 {
  position: relative;
  top: 134px;
  right: 240px;
  cursor: pointer;
  width: 470px;
  height: 342px;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel2 img {
  z-index: 2;
  position: absolute;
  &:hover {
    opacity: 0;
  }
}

.reel3 {
  position: relative;
  top: -187px;
  right: -240px;
  width: 466px;
  height: 328px;
  cursor: pointer;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel3 img {
  z-index: 2;
  position: absolute;
  &:hover {
    opacity: 0;
  }
}

.reel4 {
  position: relative;
  top: -510px;
  right: -715px;
  width: 464px;
  height: 326px;
  cursor: pointer;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel4 img {
  z-index: 2;
  position: absolute;
  &:hover {
    opacity: 0;
  }
}

.msjRed {
  color: var(--white);
  font-family: var(--titles);
  font-size: 36px;
  line-height: 50px;
  z-index: 1;
}

.redBlock {
  width: 458px;
  height: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gcTitle {
  font-family: var(--titles);
  font-size: 105px;
  line-height: 162.72px;
  color: var(--white);
  position: relative;
  top: 350px;
  span {
    color: var(--red);
  }
}

.graffitiContainer h3 {
  font-family: var(--subtitles);
  font-size: 48px;
  line-height: 24px;
  color: var(--white);
  position: relative;
  top: 350px;
}

.custom-section {
  height: 800px;
}

.pictureContainer {
  height: 648px;
  width: 100%;
  display: flex;
  align-items: center;
  @media only screen and (max-width:768px){
    margin-top: 200px;
   flex-flow: column nowrap;
  }
}

.pictureContainer1 {
  height: 374px;
  width: 640px;
  background-image: url("../assets/images/bluestory.png");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: var(--titles);
  color: white;
  text-decoration: underline;
  @media only screen and (max-width:768px){
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  }
}

.pictureContainer2 {
  height: 374px;
  width: 640px;
  background-image: url("../assets/images/topboy.png");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: var(--titles);
  color: white;
  text-decoration: underline;
  @media only screen and (max-width:768px){
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  }
}

.pictureContainer3 {
  height: 374px;
  width: 640px;
  background-image: url("../assets/images/adulthood.png");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: var(--titles);
  color: white;
  text-decoration: underline;
  @media only screen and (max-width:768px){
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  }
}

.treepicsContainer h1 {
  position: absolute;
  top: 2770px;
  left: 170px;
  font-size: 48px;
  font-family: var(--titles);
  color: white;
  font-style: italic;
  @media only screen and (max-width:768px){
    text-align: center;
    top: 2714px;
    left: 0px;

  }
 
}

.treepicsContainer h2 {
  position: absolute;
  top: 3260px;
  left: 1150px;
  font-size: 48px;
  font-family: var(--titles);
  color: white;
  text-decoration: underline;
  @media only screen and (max-width:768px){
    display: block;
    width: 100%;
    margin-top:400px;
    text-align: center;
    
    left: 0px;
  }
}

.mt-60 {
  margin-top: 100px;
}

.terryStoneTextContainer span {
  color: red;
}
