@import "vars";

.IJB {
  &-container {
    width: 100%;
    background-color: black;
  }
  &-headings {
    color: white;
    margin-top: -16rem;
    margin-left: 1rem;
    h1 {
      font-family: var(--titles);
      font-size: 3.25rem;
    }
    h2 {
      font-family: var(--subtitles);
      font-size: 1.125rem;
      letter-spacing: 0.3rem;
    }
  }
  &-description {
    padding: 1.725rem 1.5rem;
    margin-top: 2rem;
    color: white;
    p {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      font-family: var(--subtitles);
      font-size: 1rem;
    }
  }
  &-logo {
    display: block;
    margin: 0 auto -5rem;
  }
  &-image{
    &__first{
      width: 100%;
      height: 35rem;
      background: linear-gradient(
        0deg, rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0.49)),
        url("../assets/images/contactFormImage.png");
      background-repeat: no-repeat;
      background-position: 18% 30%;
    }
    &__last{
      width: 100%;
      height: 35rem;
      background: linear-gradient(
        0deg, rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0.49)),
        url("../assets/images/ImJustBaitRight.png");
      background-repeat: no-repeat;
      background-position: 60% 0%;
    }
  } 
}