@font-face {
  font-family: "Steinbeck";
  src: url("../fonts/Steinbeck-Regular.otf") format("otf");
  font-style: normal;
}

@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentExtended-Ultrabold.otf") format("otf");
  font-weight: bolder;
}

@font-face {
  font-family: "DxSitrus";
  src: url("../fonts/DxSitrus-Expandeditalic.otf") format("otf");
  font-style: italic;
}

@font-face {
  font-family: "DxSitrus";
  src: url("../fonts/DxSitrus-Expanded.otf") format("otf");
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-ThinItalic.otf") format("otf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-Thin.otf") format("otf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-SemiboldItalic.otf") format("otf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-MediumItalic.otf") format("otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-Medium.otf") format("otf");
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-LightItalic.otf") format("otf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-Light.otf") format("otf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-HeavyItalic.otf") format("otf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "CooperHewitt Heavy";
  src: url("../fonts/CooperHewitt-Heavy.otf") format("otf");
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-BookItalic.otf") format("otf");
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-Book.otf") format("otf");
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-BoldItalic.otf") format("otf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentExtended-Regular.otf") format("otf");
  font-style: normal;
}
